#!/bin/bash
#
# Settings - environment variables used by the helper scripts
#
# Account - specify user @ hostname
#
ACCOUNT=user@remote.org

# ssh flags - like port. Can be blank
#
SSHOPT=-p 8022

# bwlimit - passed to rsync. Must be numeric value
#
BWLIMIT=4096

# timeout - time in seconds to run. Must be numeric value
#
TIMEOUT=14400

# delete limit - abort backup if more deletes detected
# 
RMLIMIT=500
