name: Build and Push Image to GHCR

# When to trigger this flow
on:
  push:
    branches: [ "main" ]


env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


# Jobs to perform
jobs:

  push-store-image:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main

      - name: 'Login to Container Registry'
        uses: docker/login-action@main
        with:
          registry: $${{ env.REGISTRY }}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: 'Build Inventory Image'
        run: |
          docker build . --tag $${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}:latest
          docker push $${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}:latest

